{{ $url := .Get "url" }}
{{ $id := .Get "id" }}
{{ $title := .Get "title" }}
{{ $datasource := .Get "datasource" }}
{{ $datasourceLabel := .Get "datasourceLabel" }}
{{ $datasource2 := .Get "datasource2" }}
{{ $datasource2Label := .Get "datasource2Label" }}
{{ $datasource3 := .Get "datasource3" }}
{{ $datasource3Label := .Get "datasource3Label" }}
{{ $datasource4 := .Get "datasource4" }}
{{ $datasource4Label := .Get "datasource4Label" }}
{{ $datasource5 := .Get "datasource5" }}
{{ $datasource5Label := .Get "datasource5Label" }}
{{ $datasource6 := .Get "datasource6" }}
{{ $datasource6Label := .Get "datasource6Label" }}
{{ $datasource7 := .Get "datasource7" }}
{{ $datasource7Label := .Get "datasource7Label" }}
{{ $yAxisLabel := .Get "yAxisLabel" }}
{{ $yAxisUnit := .Get "yAxisUnit" }}
{{ $yAxisLogarithmic := .Get "yAxisLogarithmic" }}
{{ $yMaxTicksLimit := .Get "yMaxTicksLimit" }}
{{ $yMax := .Get "yMax" }}
{{ $y2AxisLabel := .Get "y2AxisLabel" }}
{{ $y2AxisUnit := .Get "y2AxisUnit" }}
{{ $y2AxisLogarithmic := .Get "y2AxisLogarithmic" }}
{{ $y2MaxTicksLimit := .Get "y2MaxTicksLimit" }}
{{ $y2Max := .Get "y2Max" }}
{{ $xAxis := .Get "xAxis" }}
{{ $xAxisLabel := .Get "xAxisLabel" }}
{{ $xAxisUnit := .Get "xAxisUnit" }}
{{ $xMaxTicksLimit := .Get "xMaxTicksLimit" }}
{{ $dataC := getJSON $url }}
{{ $staticSrc := .Get "staticSrc" }}
<canvas id="{{ $id }}" width="400" height="200"></canvas>
<div class='align-center' style="margin-bottom: 1.5em">
<small>
	<a class="downloadChart" data-canvasid="{{ $id }}" download="{{ $id }}.png" href="" title="{{ $title }}">Скачать</a>
</small>
</div>
<script>
var {{ $id | safeJS }}Data = {{ $dataC }};

{{- if $xAxis -}}
var xAxisKey = '{{ $xAxis }}';
{{ $id | safeJS }}Data.forEach(function(e, index) {
	e.{{ $xAxis | safeJS }} = '' + e.{{ $xAxis | safeJS }};
});
{{- else -}}
{{ $id | safeJS }}Data.forEach(function(e, index) {
	e.id = '' + index;
});
var xAxisKey = 'id';
{{- end -}}
var {{ $id | safeJS }}Ctx = document.getElementById('{{ $id }}').getContext('2d');
const {{ $id | safeJS }}Chart = new Chart({{ $id | safeJS }}Ctx, {
    type: 'line',
    data: {
        datasets: [
        	{{- if $datasource2 -}}
        {
        	label: '{{ $datasource2Label }}',
            data: {{ $id | safeJS }}Data,
            parsing: {
                xAxisKey: xAxisKey,
                yAxisKey: '{{ $datasource2 }}'
            },
            borderColor: '#7fc35e',
            backgroundColor: 'rgba(49, 76, 37, 0.1)',
            pointBackgroundColor: '#7fc35e',
            fill: true,
            borderWidth: 2,
            {{- if $y2AxisLabel -}}
            yAxisID: 'myScale',
            {{- end -}}
            tension: 0.2
        },
        	{{- end -}}
    	{{- if $datasource3 -}}
        {
        	label: '{{ $datasource3Label }}',
            data: {{ $id | safeJS }}Data,
            parsing: {
                xAxisKey: xAxisKey,
                yAxisKey: '{{ $datasource3 }}'
            },
            borderColor: '#4161CC',
            backgroundColor: 'rgba(49, 76, 37, 0.1)',
            pointBackgroundColor: '#4161CC',
            fill: true,
            borderWidth: 2,
            tension: 0.2
        },
        	{{- end -}}
    	{{- if $datasource4 -}}
        {
        	label: '{{ $datasource4Label }}',
            data: {{ $id | safeJS }}Data,
            parsing: {
                xAxisKey: xAxisKey,
                yAxisKey: '{{ $datasource4 }}'
            },
            borderColor: '#5DD9BE',
            backgroundColor: 'rgba(49, 76, 37, 0.1)',
            pointBackgroundColor: '#5DD9BE',
            fill: true,
            borderWidth: 2,
            tension: 0.2
        },
        	{{- end -}}
    	{{- if $datasource5 -}}
        {
        	label: '{{ $datasource5Label }}',
            data: {{ $id | safeJS }}Data,
            parsing: {
                xAxisKey: xAxisKey,
                yAxisKey: '{{ $datasource5 }}'
            },
            borderColor: '#CF8659',
            backgroundColor: 'rgba(49, 76, 37, 0.1)',
            pointBackgroundColor: '#CF8659',
            fill: true,
            borderWidth: 2,
            tension: 0.2
        },
        	{{- end -}}
    	{{- if $datasource6 -}}
        {
        	label: '{{ $datasource6Label }}',
            data: {{ $id | safeJS }}Data,
            parsing: {
                xAxisKey: xAxisKey,
                yAxisKey: '{{ $datasource6 }}'
            },
            borderColor: '#800080',
            backgroundColor: 'rgba(229,204,229, 0.1)',
            pointBackgroundColor: '#800080',
            fill: true,
            borderWidth: 2,
            tension: 0.2
        },
        	{{- end -}}
    	{{- if $datasource7 -}}
        {
        	label: '{{ $datasource7Label }}',
            data: {{ $id | safeJS }}Data,
            parsing: {
                xAxisKey: xAxisKey,
                yAxisKey: '{{ $datasource7 }}'
            },
            borderColor: '#FFC0CB',
            backgroundColor: 'rgba(255,229,234, 0.1)',
            pointBackgroundColor: '#FFC0CB',
            fill: true,
            borderWidth: 2,
            tension: 0.2
        },
        	{{- end -}}
        {
            label: '{{ $datasourceLabel }}',
            data: {{ $id | safeJS }}Data,
            parsing: {
                xAxisKey: xAxisKey,
                yAxisKey: '{{ $datasource }}'
            },
            borderColor: '#ffcd00',
            backgroundColor: 'rgba(255, 205, 0, 0.1)',
            pointBackgroundColor: '#ffcd00',
            fill: true,
            borderWidth: 2,
            tension: 0.2
        }]
    },
    options: {
    	stacked: false,
    	elements: {
    		point: {
    		      radius: 0,
    		      hitRadius: 10,
    		      hoverRadius: 4,
    		      hoverBorderWidth: 3
    		}	
    	},
        animation: {
            duration: 0
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
        	{{- if $xAxis -}}
        	x: {
                title: {
                    display: true,
                    text: '{{ $xAxisLabel }}'
                },
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                    	//console.log(value + " " + index + " " + ticks);
                        return this.getLabelForValue(value) + ' {{ $xAxisUnit }}';
                    }
                	{{- if $xMaxTicksLimit -}}
                	, maxTicksLimit: {{ $xMaxTicksLimit }}
                	{{- end -}}
                }
        	},
        	{{- end -}}
            y: {
                beginAtZero: true,
                position: 'left',
                {{- if $yMax -}}
        		max: {{ $yMax }},
                {{- end -}}
                {{- if $yAxisLogarithmic -}}
        		type: 'logarithmic',
        		{{- end -}}
                title: {
                    display: true,
                    text: '{{ $yAxisLabel }}'
                },
                ticks: {
                    callback: function(value, index, ticks) {
                        return value + ' {{ $yAxisUnit }}';
                    }
	            	{{- if $yMaxTicksLimit -}}
	            	, maxTicksLimit: {{ $yMaxTicksLimit }}
	            	{{- end -}}
                }
            }
        	{{- if $y2AxisLabel -}}
        	,
        	myScale: {
                display: true,
                axis: 'y',
                position: 'right',
                {{- if $y2Max -}}
        		max: {{ $y2Max }},
                {{- end -}}
                {{- if $y2AxisLogarithmic -}}
        		type: 'logarithmic',
        		{{- end -}}
                title: {
                    display: true,
                    text: '{{ $y2AxisLabel }}'
                },
                ticks: {
                    callback: function(value, index, ticks) {
                        return value + ' {{ $y2AxisUnit }}';
                    }
	            	{{- if $y2MaxTicksLimit -}}
	            	, maxTicksLimit: {{ $y2MaxTicksLimit }}
	            	{{- end -}}
                },
                grid: {
                	drawOnChartArea: false
                }
            }
        	{{- end -}}
        },
        plugins: {
            title: {
                display: true,
                text: '{{ $title }}',
                font: {
                	size: 16
                }
            },
            legend: {
                display: false
            },
            tooltip: {
            	position: 'nearest',
            	callbacks: {
            		{{- if $xAxis -}}
            		title: function(context) {
                        return context[0].label + ' {{ $xAxisUnit }}';
            		},
            		{{- else -}}
            		title: function() {},
            		{{- end -}}
            		label: function(context) {
            			let label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        
                        var unit = {{ $yAxisUnit }};
                        {{- if $y2AxisUnit -}}
                        if( context.datasetIndex == 0 ) {
                        	unit = {{ $y2AxisUnit }};
                        }
                        {{- end -}}
                        
                        if (context.parsed.y !== null) {
                        	label += context.parsed.y + ' ' + unit;
                        }
                        
                        return label;
            		}
            	}
            }
        }
    }
});
</script>
{{- if $staticSrc -}}
<noscript>
	<img src="{{ $staticSrc }}">
</noscript>
{{- end -}}