<meta name="telegram:channel" content="@dernasherbrezonChannel">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
{{- if eq .Params.chartjs true -}}
<script src="{{ print "/js/chart.min.js" | relURL }}"></script>
{{- end -}}
{{- if eq .Params.compareImages true -}}
<link href="{{ print "/css/image-compare-viewer.min.css" | relURL }}" rel="stylesheet" />
<script src="{{ print "/js/image-compare-viewer.min.js" | relURL }}"></script>
{{- end -}}